body {
  margin: 0px;
}

div,
input,
textarea {
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
}

.main-background {
  width: 100%;
  height: 600px;
  background-image: url(img/shoes.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  padding: 1px;
  color: white;
  text-align: center;
  padding-top: 70px;
}

.main-title {
  color: white;
  font-size: 70px;
  margin-top: 100px;
  margin-bottom: 30px;
}

.main-content {
  font-size: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

.main-button {
  margin-top: 15px;
  padding: 15px;
  font-size: 20px;
  background: white;
  border: none;
  border-radius: 5px;
  position: relative;
  z-index: 5;
}

.explain-box {
  width: 80%;
  max-width: 700px;
  margin: auto;
  padding: 20px 50px;
  text-align: center;
  background-color: #eeeeee;
  position: relative;
  top: -40px;
}

.main-container {
  height: 500px;
}

.from-background {
  background-color: #eeeeee;
  padding: 30px;
}

.form-white {
  background-color: white;
  padding: 30px;
  width: 80%;
  max-width: 700px;
  margin: auto;
}

.form-input {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border: 1px solid #777777;
}

.your__email,
.message {
  width: 100%;
  padding: 10px;
}

.first__name,
.last__name {
  width: 50%;
  float: left;
  padding: 10px;
}

.form-input.textarea {
  height: 150px;
}

.send {
  padding: 10px;
}

.send-btn {
  padding: 10px 30px;
  display: block;
  margin-left: auto;
  background-color: coral;
  border: none;
  color: white;
  font-size: 15px;
}

/* cart */
.cart-background {
  width: 100%;
  background-color: #c2d3de;
  padding: 30px;
}

.cart-head {
  width: 100%;
  max-width: 700px;
  margin: auto;
}

.cart-table {
  width: 100%;
  max-width: 700px;
  margin: auto;
  background-color: white;
  border-radius: 10px;
}

.cart-table td,
.cart-table th {
  padding: 15px;
  border-bottom: 1px solid #c2d3de;
}

.cell-long {
  width: 700px;
}

.btn {
  padding: 15px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  background-color: coral;
  color: white;
  cursor: pointer;
}

.order {
  width: 100%;
  max-width: 700px;
  margin: auto;
  margin-top: 10px;
}

.btn:hover {
  background-color: chocolate;
}
